* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #222;
}

html {
  font-family: 'Onest', sans-serif;
}

section:not(.visible) {
  opacity: 0;
  transform: translateY(40px);
}
section.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}