.site-header {
  background-color: #0A03AA;
  color: white;
  height: 56px;
  padding: 10px 64px;
  position: relative;
  z-index: 10;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.site-header__logo-image {
  height: 36px;
  width: auto;
}

.site-header__nav-icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.site-header__nav {
  display: flex;
}

.site-header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  list-style: none;
  margin: 18px 31px;
  padding: 0;
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.site-header__menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.site-header__menu li a:hover {
  color: #ffdb59;
}

.site-header__icons {
  display: flex;
  gap: 38px;
  align-items: center;
}

.site-header__icons img {
  height: 24px;
  width: auto;
}

/* ========== БУРГЕР ========== */
.site-header__burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.site-header__burger span {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  display: block;
  transition: all 0.3s ease;
}

/* Активация крестика */
.site-header__burger.is-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.site-header__burger.is-active span:nth-child(2) {
  opacity: 0;
}

.site-header__burger.is-active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.site-header__separator {
    height: 1px;
    width: calc(100% - 60px);
    background-color: rgb(241 231 231);
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    justify-self: anchor-center;
    animation: fadeIn 0.3s ease forwards;
    display: none;
}

.site-header__separator--visible {
  display: block;
}

/* ========== АДАПТИВ ≤ 1185px ========== */
@media (max-width: 1380px) {
  .site-header {
    padding: 10px 26px;
  }

  .site-header__burger {
    display: flex;
  }

  .site-header__nav {
    display: none;
  }

  .site-header__nav-icons.active .site-header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #0A03AA;
    animation: fadeIn 0.3s ease forwards;
  }

  .site-header__menu {
    flex-direction: row;
    align-items: center;
    gap: 22px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  .site-header__icons {
    justify-content: center;
  }

  body.no-scroll {
    overflow: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========== АДАПТИВ ≤ 480px ========== */
@media (max-width: 480px) {
  .site-header__logo-image {
    height: 32px;
  }

  .site-header__menu li a {
    font-size: 0.9rem;
  }

  .site-header__icons img {
    height: 20px;
  }
}
