.block-cards {
  display: flex;
  flex-direction: column;
}

.block-cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.block-cards__title {
  color: #505672;
  text-align: center;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 60px;
}

.block-cards__card {
  border-radius: 30px;
  background: #f8fbff;
  box-shadow: 2px 2px 14px 5px rgba(80, 86, 114, 0.14);
  display: flex;
  padding: 40px 25px 58px 25px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-basis: auto;
  max-width: 372px;
  min-width: 210px;
  width: -webkit-fill-available;
}

.block-cards__card--text {
  max-width: 271px;
  justify-content: center;
}

.block-cards__image {
}

.block-cards__link {
  margin-top: 20px;
}

.block-cards__text {
  color: #505672;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.block-cards--stiff .block-cards__card {
  width: auto;
  max-width: 372px;
  height: 223px;
}

.block-cards .main-info-text__heading {
  color: #505672;
  text-align: center;
  font-family: Onest;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.block-cards .main-info-text__text {
  color: #505672;
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.block-cards__card--text-left {
  text-align: left;
  align-items: flex-start;
}

.block-cards__card--text-left .main-info-text__heading,
.block-cards__card--text-left .main-info-text__text {
  text-align: left;
}

.block-cards__content-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
}

@media (max-width: 768px) {
  .block-cards__title {
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 1.4px;
  }

  .block-cards__card {
    gap: 20px;
  }
  .block-cards--stiff .block-cards__card {
    width: auto;
    max-width: 334px;
    height: 223px;
  }

  .block-cards__list--staff {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .block-cards__title {
    letter-spacing: 1.1px;
  }
  .block-cards .main-info-text__heading {
    font-size: 16px;
  }
  .block-cards .main-info-text__text {
    font-size: 14px;
  }
}

@media (max-width: 344px) {
  .block-cards--stiff .block-cards__card {
    width: auto;
    max-width: 304px;
    height: 200px;
    padding: 10px;
  }
}
