.block-cards {
  display: flex;
  flex-direction: column;
}

.block-cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.block-cards__title {
  color: #505672;
  text-align: center;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 60px;
}

.block-cards__card {
  border-radius: 30px;
  background: #f8fbff;
  box-shadow: 2px 2px 14px 5px rgba(80, 86, 114, 0.14);
  display: flex;
  height: 246px;
  padding: 40px 25px 58px 25px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-basis: auto;
  max-width: 372px;
  min-width: 210px;
  width: -webkit-fill-available;
}

.block-cards__card-text {
  border-radius: 30px;
  background: #f8fbff;
  box-shadow: 2px 2px 14px 5px rgba(80, 86, 114, 0.14);
  display: flex;
  height: 200px;
  padding: 40px 25px 58px 25px;
  flex-direction: column;
  align-items: center;
  flex-basis: auto;
  max-width: 271px;
  min-width: 208px;
  width: -webkit-fill-available;
  justify-content: center;
}

.block-cards__image {
}

.block-cards__heading {
  color: #505672;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  width: 250px;
}

.block-cards__text {
  color: #505672;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

@media (max-width: 768px) {
  .block-cards__title {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 344px) {
}
