.button-link {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: Onest;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background 0.3s ease;
  width: 327px;
  height: 66px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 0 solid #fff;
  background: #0a00fa;
  box-shadow:
    0 76px 21px 0 rgba(6, 5, 66, 0.01),
    0 49px 20px 0 rgba(6, 5, 66, 0.04),
    0 27px 16px 0 rgba(6, 5, 66, 0.15),
    0 12px 12px 0 rgba(6, 5, 66, 0.26),
    0 3px 7px 0 rgba(6, 5, 66, 0.29);
  margin-top: 60px;
}

.button-link:hover {
  background-color: #0700c9;
}

@media (max-width: 768px) {
  .button-link {
    width: 248px;
    height: 50px;
    font-size: 16px;
  }
  .block-button-link {
    margin-top: 40px;
  }
}
