.section-main {
  max-width: 1180px;
  min-width: 280px;
  margin: 60px auto 80px;
}

.body {
  background: #e9f4ff;
}

.title-page {
  color: #0a00fa;
  font-family: Unbounded;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.section--bordered {
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 1px;
  background-image: repeating-linear-gradient(
    to right,
    rgb(10, 0, 250),
    rgb(10, 0, 250) 3px,
    transparent 5px,
    transparent 7px
  );
  padding: 0 0 60px 0;
}

@media (max-width: 1300px) {
  .section-main {
    margin: 20px 30px 40px;
  }
  .title-page {
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 1.4px;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 768px) {
  .section--bordered {
    padding: 0 0 30px 0;
  }
}

@media (max-width: 480px) {
  .section-main {
    margin: 20px 20px 40px;
  }
}

@media (max-width: 400px) {
  .title-page {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}
