@import '../common.css';
@import '../header.css';
@import '../footer/footer.css';
@import '../base/pages-common.css';
@import '../base/button-back.css';
@import '../base/main-info-text.css';

.associations-accounting-companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    'cap-picture title-page'
    'text-purposes text-history'
    'text-purposes tasks'
    'group-photo tasks'
    'who-can-work-with-us tasks'
    'documents tasks';
  row-gap: 20px;
  column-gap: 40px;
  margin-bottom: 30px;
}

.title-page {
  grid-area: title-page;
}

.associations-accounting-companies__cap {
  grid-area: cap-picture;
  margin: auto;
}

.associations-accounting-companies__history {
  grid-area: text-history;
}

.associations-accounting-companies__purposes {
  grid-area: text-purposes;
}

.associations-accounting-companies__group-photo {
  grid-area: group-photo;
}

.associations-accounting-companies__tasks {
  grid-area: tasks;
}

.associations-accounting-companies__who-can-work-with-us {
  grid-area: who-can-work-with-us;
}

.associations-accounting-companies__documents {
  grid-area: documents;
}

.associations-accounting-companies__documents-certificate,
.associations-accounting-companies__documents-membership {
  width: 270px;
  height: 390px;
}

li {
  margin-top: 15px;
}

.associations-accounting-companies__cap-icon {
  width: 236px;
  height: 236px;
}

.associations-accounting-companies__group-photo-img {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .associations-accounting-companies__cap {
    margin: auto;
  }

  .associations-accounting-companies__cap-icon {
    width: 155px;
    height: 155px;
  }

  .associations-accounting-companies__documents-certificate,
  .associations-accounting-companies__documents-membership {
    width: 158px;
    height: 226px;
  }

  .associations-accounting-companies {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'title-page title-page title-page title-page'
      'cap-picture text-history text-history text-history'
      'text-purposes text-purposes tasks tasks'
      'group-photo group-photo tasks tasks'
      'who-can-work-with-us who-can-work-with-us tasks tasks'
      'documents documents tasks tasks';
    gap: 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 580px) {
  .associations-accounting-companies__cap-icon {
    width: 133px;
    height: 133px;
  }

  .associations-accounting-companies {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      'title-page title-page title-page'
      'cap-picture text-history text-history'
      'text-purposes text-purposes text-purposes'
      'group-photo group-photo group-photo'
      'tasks tasks tasks'
      'who-can-work-with-us who-can-work-with-us who-can-work-with-us'
      'documents documents documents';
    gap: 20px;
    margin-bottom: 30px;
  }
}
