@import '../common.css';
@import '../header.css';
@import '../footer/footer.css';
@import '../base/pages-common.css';
@import '../base/button-back.css';
@import '../base/block-cards.css';
@import '../base/info-panel.css';
@import '../base/modal.css';
@import '../base/button-link.css';
@import '../base/main-info-text.css';
@import '../base/button-details.css';

.info-section__picture {
  grid-area: image;
}

.info-section__label {
  grid-area: label;
}

.info-section__main {
  grid-area: text-main;
}

.info-section__details {
  grid-area: details;
}

.info-section__links {
  grid-area: links;
}

.info-section {
  display: grid;
  row-gap: 35px;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-auto-flow: row;
  grid-template-areas:
    'image image title-page title-page'
    'image image label label'
    'image image details details'
    'text-main text-main details details'
    'text-main text-main details details'
    'text-main text-main links links';
  margin-bottom: 30px;
}

.info-section__img {
  width: 545px;
  height: 355px;
}

.info-panel {
  grid-area: links;
}

.title-page {
  grid-area: title-page;
}

@media (max-width: 1220px) {
  .info-section {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: row;
    grid-template-areas:
      'title-page title-page title-page title-page'
      'image image label label'
      'image image . .'
      'text-main  details details details'
      '. links links links';
  }

  .info-section__img {
    width: 380px;
    height: 250px;
  }
}

@media (max-width: 600px) {
  .info-section {
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: row;
    grid-template-areas:
      'title-page'
      'image'
      'label'
      'details'
      'text-main'
      'links';
  }

  .info-section__img {
    width: 420px;
    height: 273px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .info-section__img {
    width: 348px;
    height: 232px;
  }
}

@media (max-width: 344px) {
  .info-section__img {
    width: 270px;
    height: 185px;
  }
}
