@import '../common.css';
@import '../header.css';
@import '../footer/footer.css';
@import '../base/pages-common.css';
@import '../base/button-back.css';
@import '../base/block-cards.css';
@import '../base/info-panel.css';
@import '../base/modal.css';
@import '../base/button-link.css';

.info-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 155px 80px 190px 0px 125px auto;
  grid-auto-flow: row;
  grid-template-areas:
    'image image title-page title-page'
    'image image label label'
    'image image details details'
    'text-main text-main details details'
    'text-main text-main details details'
    'text-main text-main links links';
}

.info-section__text {
  font-size: 20px;
  font-style: normal;
}

.info-section__picture {
  grid-area: image;
}

.info-section__img {
  width: 545px;
  height: 355px;
}

.info-section__text--main {
  grid-area: text-main;
  border-left: thick solid #0a00fa;
  padding-left: 41px;
  width: 393px;
  height: fit-content;
  color: #0a00fa;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.info-section__text--label {
  grid-area: label;
  color: #505672;
  font-weight: 700;
  line-height: 150%;
}

.info-section__text--details {
  grid-area: details;
  color: #505672;
  font-weight: 400;
  line-height: 150%;
}

.info-panel {
  grid-area: links;
}

.title-page {
  grid-area: title-page;
}

.block-button-link {
  margin-top: 60px;
}

@media (max-width: 1220px) {
  .info-section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 123px 20px 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      'title-page title-page title-page title-page'
      'image image label label'
      'image image . .'
      'text-main  details details details'
      '. links links links';
  }
}

@media (max-width: 980px) {
  .info-section {
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: row;
    grid-template-areas:
      'title-page'
      'image'
      'label'
      'details'
      'text-main'
      'links';
  }

  .block-button-link {
    margin-top: 40px;
  }

  .info-section__img {
    width: 420px;
    height: 273px;
  }
}

@media (max-width: 768px) {
  .info-section__text {
    font-size: 16px;
    line-height: 150%;
  }

  .info-section__text--main {
    font-size: 14px;
    letter-spacing: 0.7px;
    padding-left: 20px;
    width: auto;
  }
}

@media (max-width: 480px) {
  .info-section__img {
    width: 348px;
    height: 232px;
  }
}

@media (max-width: 344px) {
  .info-section__img {
    width: 270px;
    height: 185px;
  }
}
