@import '../common.css';
@import '../header.css';
@import '../footer/footer.css';
@import '../base/pages-common.css';
@import '../base/main-info-text.css';

.body {
  background: black;
}

.book__title-picture {
  margin: 20px 0;
}

.book__title-img {
  width: 100%;
  max-width: 390px;
  height: auto;
  margin: 32px 0 80px;
}

.book__cover-img {
  width: 100%;
  max-width: 576px;
  height: auto;
}

.book__title-main {
  margin: 0;
}

.media-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.media-block__content {
  flex: 1;
}

.media-block__media {
  flex: 1;
  display: flex;
  justify-content: center;
}

.history-of-writing-book__the_writer-img {
  max-width: 878px;
  width: 100%;
  height: auto;
}

.history-of-writing-book__history {
  border-bottom: 1px solid #0279bd;
  border-top: 1px solid #0279bd;
  padding: 60px 0;
}

@media (max-width: 1200px) {
  .history-of-writing-book__history {
    padding: 25px 0;
  }
}

@media (max-width: 900px) {
  .history-of-writing-book__history {
    border: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .book__cover-img {
    max-width: 480px;
  }

  .book__title-img {
    max-width: 319px;
    margin: 32px 0 30px;
  }

  .media-block {
    gap: 30px;
  }
}

@media (max-width: 640px) {
  .media-block {
    flex-direction: column;
  }

  .media-block__media {
    order: 1;
  }

  .book__title-img {
    margin: 20px 0 30px;
  }

  .history-of-writing-book__history {
    border-top: 1px solid #0279bd;
    padding: 20px 0;
  }
}
