@import '../common.css';
@import '../header.css';
@import '../footer/footer.css';
@import '../base/pages-common.css';
@import '../base/button-back.css';
@import '../base/main-info-text.css';

.opora-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'icon-container icon-container title-page title-page title-page'
    'history history info info info';
  row-gap: 20px;
  column-gap: 40px;
}

.title-page {
  grid-area: title-page;
}

.opora-header__icon-container {
  grid-area: icon-container;
}

.opora-header__history {
  grid-area: history;
}

.opora-header__info {
  grid-area: info;
}

.opora-header__icon {
  width: 100%;
}

.committees {
  display: flex;
  flex-direction: column;
}

.committees__history {
  margin: 60px auto;
}

.committees__group-photo-img {
  width: 100%;
}

.committees__types {
  display: flex;
  gap: 100px;
  margin: 80px 0;
}

.committees__taxes-and-budget,
.committees__self-employment,
.committees__sport {
  width: 33.3%;
}

.committees__type-header {
  margin: 40px 0 30px 0;
}

.certificate-of-membership {
  display: grid;
  grid-template-columns: 41% 58%;
  gap: 30px;
}

.certificate-of-membership__certificate,
.certificate-of-membership__group-photo {
  grid-column: span 1;
}

.certificate-of-membership__tax-photo {
  grid-column: 1 / -1;
  position: relative;
}

.certificate-of-membership__img {
  width: 100%;
  display: block;
}

.certificate-of-membership__button {
  position: absolute;
  left: 0;
  bottom: 40px;
  border-radius: 20px;
  border: 0 solid #fff;
  background: #0a00fa;
  box-shadow: 0 60px 15px 0 rgba(6, 5, 66, 0.01);
  display: flex;
  width: 197px;
  height: 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  z-index: 2;
}

.certificate-of-membership__overlay {
  position: absolute;

  width: 640px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 27%;
}

@media (max-width: 1050px) {
  .certificate-of-membership__button {
    bottom: 25px;
  }
}

@media (max-width: 870px) {
  .opora-header {
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'title-page title-page title-page title-page title-page'
      'icon-container icon-container info info info'
      'icon-container icon-container history history history';
  }

  .committees__history {
    margin: 30px auto;
  }

  .committees__types {
    gap: 21px;
    margin: 30px 0;
  }

  .committees__type-header {
    margin: 30px 0 20px 0;
  }

  .certificate-of-membership {
    gap: 20px;
  }

  .certificate-of-membership__button {
    bottom: 15px;
  }

  .certificate-of-membership__overlay {
    width: 340px;
  }
}

@media (max-width: 768px) {
  .certificate-of-membership__overlay {
    left: 21%;
  }

  .certificate-of-membership {
    gap: 20px;
  }
}

@media (max-width: 560px) {
  .opora-header {
    grid-template-areas:
      'title-page title-page title-page title-page title-page'
      'icon-container icon-container info info info'
      'history history history history history';
  }

  .committees__types {
    flex-direction: column;
    gap: 30px;
  }

  .committees__taxes-and-budget,
  .committees__self-employment,
  .committees__sport {
    width: 100%;
  }

  .committees__type-header {
    margin: 10px 0;
  }

  .committees__type-icon {
    margin: auto;
    display: block;
  }

  .certificate-of-membership {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .certificate-of-membership {
    grid-template-columns: 1fr;
  }

  .certificate-of-membership__tax-photo {
    grid-column: auto;
  }

  .certificate-of-membership__overlay {
    left: 9%;
  }
}

@media (max-width: 400px) {
  .opora-header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'title-page'
      'icon-container'
      'info'
      'history';
  }

  .certificate-of-membership__overlay {
    top: 12px;
    left: 8%;
  }
}
