@import '../common.css';
@import '../header.css';
@import '../footer/footer.css';
@import '../base/pages-common.css';
@import '../base/button-back.css';
@import '../base/block-cards.css';
@import '../base/info-about-working-with-companies.css';
@import '../base/main-info-text.css';